* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#right_wheel {
  animation: wheel 1s infinite linar;
  border: 3px solid red;
}

@keyframes wheel {
  from {
    trandform: rotateZ(0deg);
  }
  to {
    trandform: rotateZ(360deg);
  }
}
